{% extends "layout.html" %}
{% block content %}
<h1>
  About Tangelo
</h1>
Everyone, including Princeton students, lead busy lives.
Getting the day started is the vital first step everyone needs to take.
Still, with so many things to be updated on–campus events, weather,
recent news, birthdays, etc.–it can devolve to a dizzying series of
jumps between a dozen apps. This is especially true for Princetonians:
with such a unique campus culture, most “daily” apps can feel like
they’re shoehorned into our lives and only encompass a fraction of
our priorities.
<br>
<br>
Enter ~Tangelo~, the daily app designed for Princeton students.
Inspired by the simplicity of bullet journals, our modular interface
allows users to custom-build their perfect morning experience.
Our widgets offer the ideal balance of utility and delight,
with sleek interfaces and robust functionality for the everyday
experience. Have a live calendar of important academic updates or
browse the Daily Prince headlines from a single dashboard interface.
With widgets ranging from the uber-practical time/date clock to a talking
birthday present that updates you on your friends’ birthdays,
we have something for every kind of person.
<br>
<br>
Make life simple. Get Tangelo. 🍊 <br><br>

<h1>
  Meet the Team
</h1>
{% endblock content %}
