<!-- Create a widget form -->
<form id="create-widget-form">
    {{ widget_form.hidden_tag() }} <!-- hidden_tag method adds csrf token, protects against attacks -->
    <fieldset class="form-group">
        <div class="form-group">
            {{ widget_form.name.label(class="form-control-label") }}
            {% if widget_form.name.errors %}
                {{ widget_form.name(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in widget_form.name.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ widget_form.name(class="form-control") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ widget_form.description.label(class="form-control-label") }}
            {% if widget_form.description.errors %}
                {{ widget_form.description(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in widget_form.description.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ widget_form.description(class="form-control") }}
            {% endif %}
        </div>
    </fieldset>
    <div class="form-group">
        {{ widget_form.create_widget_submit(class="btn btn-outline-info")}}
    </div>
</form>
