<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='tangelo_icon.png') }}">
    
    <title>Tangelo</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Gridstack CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gridstack@1.1.1/dist/gridstack.min.css">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <!-- Add IntroJs styles -->
    <link href="{{ url_for('static', filename='introjs.css') }}" rel="stylesheet">

    <!-- Our Custom Dashboard CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
    <!-- Our Custom Grid CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='grid.css') }}">

    <link rel="stylesheet" href="../static/updateButton.css"/>

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
</head>

<body>
  <div class="postPopup">
    <div class="postPopupContent">
      <h3 class="popupHeader" id="popupTop" style="margin-top: 5px; margin-bottom: 25px;"></h2>
      <button onClick="clearPost()" class="clearPost">Clear Post</button>
      <a href="#" onClick="submitPost()" class="makePost">Save Post</a>
      <textarea name="newPost" class="popupInputText" id="postText" maxlength="200"></textarea>
      <img src="../static/close2.png" class="closePopup" onClick="closeUpdate()">
    </div>
  </div>
  <div id="wrapper" class="right-toggled left-toggled">

      <!-- Left Sidebar -->

      <div id="left-sidebar-wrapper">
        <div class="left-sidebar-nav">
          <div class="sidebar-header">
            <h3>Follow your favs</h3>
          </div>
          <p style="padding-left:20px; padding-top: 16px;">Search available widgets</p>
          <hr>

          <!-- Widget Search -->
          <div class="input-group" style="padding-left: 15px; padding-right: 15px;">
            <input class="form-control py-2 border-right-0 border" type="search" placeholder="search" value="" id="searchWidgets">
          </div>

          <!-- Unfollow Widget Drag/Drop Here -->
          <div id="widget-follow-list"></div>
          <div id="trash" class="text-center">
            <div>
              <ion-icon name="trash" style="font-size: 500%"></ion-icon>
            </div>
            <div>
              <span><b></b>Drop here to unfollow</b></span>
              <p style="padding: 10px 15px; font-size: 12px;"><i>Keep only those that spark joy – Marie Kondo</i></p>
            </div>
          </div>
          <br><br>
        </div>
      </div>
      <!-- /#left-sidebar-wrapper -->

      <!-- Right Sidebar -->
      <div id="right-sidebar-wrapper">
        <ul class="sidebar-nav">
          <div class="sidebar-header">
            <h3>{{ current_user.netid }} </h3>
          </div>
          <li>
            <!-- Create Widget Form -->
            <a data-toggle="collapse" href="#create-widget" aria-expanded="false" onclick="rotateArrow('createArrow')">Create A Widget  <i class ="menu-arrow" id="createArrow"></i></a>
            <div class="collapse sub-bar" id="create-widget">
              {% include 'createWidget.html' %}
            </div>
          </li>
          <li>
            <!-- My Subscriptions -->
            <a data-toggle="collapse" href="#my-subscriptions" aria-expanded="false" onclick="rotateArrow('subscriptionsArrow')">My Subscriptions  <i class ="menu-arrow" id ="subscriptionsArrow"></i></a>
            <div class="collapse sub-bar" id="my-subscriptions">
              {% for widget in current_user.widgets %}
                <a href="#">{{ widget.name }}</a>
                  <!-- <span>{{ widget.name }}</span> <br> -->
              {% endfor %}
            </div>
          </li>
          <li>
            <!-- My Administered Widgets -->
            <a data-toggle="collapse" href="#admin-widgets" aria-expanded="false" onclick="rotateArrow('adminArrow')">Admin  <i class ="menu-arrow" id="adminArrow"></i></a>
            <div class="collapse sub-bar" id="admin-widgets">
              {% for widget in current_user.widgets_admin %}
              <a href="#">{{ widget.name }}
                <ion-icon name="trash" data-widgetId="{{ widget.id }}" data-widgetName="{{ widget.name }}" onClick="deleteAdminWidget(this)" style="position: relative; font-size: 150%; margin-top: 7px; margin-right: 10px; float: right;"></ion-icon>
              </a>
              {% endfor %}
            </div>
          </li>
          <li>
            <a href="{{ url_for('logout') }}">Logout</a>
          </li>
        </ul>
      </div>
      <!-- /#right-sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
        
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">

              <!-- Navbar  -->
              <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
                <div class="container-fluid">

                    <!-- Follow Button Left Sidebar Collapse -->
                    <div id ="step-4">
                      <div id="follow-button">
                        <button class="btn btn-info" id="left-menu-toggle">
                          <i class="fas fa-chevron-left"></i><span class="d-none d-lg-block">&nbsp;&nbsp;Follow</span>
                        </button>
                      </div>
                    </div>

                    <!-- Tangelo Logo -->
                    <ul class="nav navbar-nav flex-fill justify-content-center">
                      <li class="nav-item"><a class="nav-link logo" href="{{ url_for('dashboard') }}">Tangelo</a></li>
                    </ul>

                    <!-- Admin @netid Right Sidebar Collapse -->
                    <button class="btn btn-info" id="right-menu-toggle">
                      <span class="d-none d-lg-block">Manage&nbsp;&nbsp;</span><i class="fa fa-chevron-right"></i>
                    </button>

              </div>
            </nav>

            <!-- Flash Errors/Messages Below Navbar -->
            <div class="row">
              <div class="displayed_errors col-md-12">
                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    {% for category, message in messages %}
                      <div class="alert alert-{{ category }}">
                        {{ message }}
                      </div>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
              </div>
            </div>

            <!-- Dashboard Grid  -->
            {% include 'grid.html' %}
          </div>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Popper.JS -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <!-- Gridstack JS -->
  <script src="https://cdn.jsdelivr.net/npm/gridstack@1.1.1/dist/gridstack.all.js"></script>
  <!-- jQuery Custom Scroller CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

  <!-- IntroJs -->
 <script type="text/javascript" src="{{ url_for('static', filename='intro.js') }}"></script>
 <script type="text/javascript" src="{{ url_for('static', filename='tangelo_intro.js') }}"></script>

  <!-- Menu Toggle Script -->
  <script>

      let csrf_token = "{{ csrf_token() }}";

      $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrf_token);
              }
          }
      });
      $(document).ready(function () {
          searchFollowWidgets();
          $("#searchWidgets").on('input', searchFollowWidgets);

          $(document).on('click', "#create_widget_submit", function(event) {

              let url = "{{ url_for('createWidget') }}";
              event.preventDefault();
              $.ajax({
                  type: "POST",
                  url: url,
                  dataType: 'json',
                  data: $('#create-widget-form').serialize(),
                  success: function (response) {
                      window.location.reload();
                      window.location();
                  },
                  error: function (response) {
                      $('#create-widget').html(response.responseText);
                  }
              });
          });
      });

      $("#left-menu-toggle").click(function(e) {
          e.preventDefault();
          searchFollowWidgets();
          $("#wrapper").toggleClass("left-toggled");
      });

      $("#right-menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("right-toggled");
      });

      // populate follow sidebar with available widgets
      function handlePostUpdateResponse(response)
      {
          location.reload();
      }

      function clearPost()
      {
          document.getElementById("postText").value = "";
          document.getElementById("postText").placeholder = "Share it with the world";
      }

      // rotates right menu arrow
      function rotateArrow(arrowId)
      {
          let arrow = document.getElementById(arrowId)
          var st = window.getComputedStyle(arrow, null);
          var rotation = st.getPropertyValue("transform")

          if(rotation[17] == "-")
          {
              arrow.style.transform = "rotate(45deg)";
              arrow.style.top = "-2px";
              arrow.style.left = "2px";
              arrow.style.position = "relative";
          }
          else
          {
              arrow.style.transform = "rotate(-45deg)";
              arrow.style.left = "0px";
              arrow.style.top = "0px";
          }
      }

      // left: 37, up: 38, right: 39, down: 40,
      // spacebar: 32, pageup: 33, pagedown: 34, end: 35, home: 36
      var keys = {37: 1, 38: 1, 39: 1, 40: 1};

      function preventDefault(e) {
          e.preventDefault();
      }

      // modern Chrome requires { passive: false } when adding event
      var supportsPassive = false;
      try {
          window.addEventListener("test", null, Object.defineProperty({}, 'passive', {
              get: function () { supportsPassive = true; }
          }));
      } catch(e) {}

      var wheelOpt = supportsPassive ? { passive: false } : false;
      var wheelEvent = 'onwheel' in document.createElement('div') ? 'wheel' : 'mousewheel';

      // Submit Post
      let widget_id = '';
      function updateButton(widget_target) {

          // stops scrolling
          window.addEventListener('DOMMouseScroll', preventDefault, false); // older FF
          window.addEventListener(wheelEvent, preventDefault, wheelOpt); // modern desktop
          window.addEventListener('touchmove', preventDefault, wheelOpt); // mobile
          let offTop = widget_target.getBoundingClientRect().top + window.scrollY; // get vertical position of widget
          offTop = offTop - 300;

          let postPop = document.querySelector(".postPopup");
          postPop.style.display = "flex";
          postPop.style.opacity = "100%";
          postPop.style.zIndex = 1004;
          postPop.style.top = offTop +'px';
          var redoWidth = $(window).width() - 80;
          redoWidth = redoWidth + "px";
          postPop.style.width = redoWidth;
          //document.querySelector(".postPopup").style.width = (document.getElementById("page-content-wrapper").style.width - 80) + 'px';

          document.getElementsByClassName("navbar")[0].style.zIndex = 1002;

          let w = $(window).width();

          // find the "height" of the document
          var body = document.body,
              html = document.documentElement;

          var height = Math.max( body.scrollHeight, body.offsetHeight, 
                                html.clientHeight, html.scrollHeight, html.offsetHeight );

          let $overlay = $('<div/>', {
              'id': 'overlay',
              css: {
                position   : 'absolute',
                height     : height + 'px',
                width      : w + 'px',
                left       : 0,
                top        : 0,
                background : '#000',
                opacity    : 0.3,
                zIndex     : 1003
             }
         }).appendTo('body');

         // access the id, name, and content of the widget to use for front end stuff
         widget_id = widget_target.parentNode.parentNode.parentNode.parentNode.parentNode.getAttribute("widget-id");
         widget_name = widget_target.parentNode.parentNode.parentNode.parentNode.parentNode.getAttribute("widget-name");
         if (widget_name.length > 25) {
           widget_name = widget_name.substring(0, 25).concat("..");
         }
         widget_post = widget_target.parentNode.parentNode.parentNode.parentNode.parentNode.getAttribute("wicontent");
         let postLen = widget_post.length;
         // replace texts with widget info
         document.getElementById("popupTop").textContent = widget_name;
         if (postLen < 1) {
           document.getElementById("postText").placeholder = "Share it with the world";
         }
         else {
           document.getElementById("postText").value = widget_post;
         }
      }

      function closeUpdate() {

          // enable scrolling
          window.removeEventListener('DOMMouseScroll', preventDefault, false);
          window.removeEventListener(wheelEvent, preventDefault, wheelOpt);
          window.removeEventListener('touchmove', preventDefault, wheelOpt);

          document.querySelector(".postPopup").style.display = "none";
          document.querySelector(".postPopup").style.opacity = "0";
          document.getElementById("overlay").remove();
          document.getElementsByClassName("navbar")[0].style.zIndex = 1020;
          document.getElementById("postText").value = ""
      }

      function deleteAdminWidget(widgetTarget) {
          let widgetId = widgetTarget.getAttribute('data-widgetId');
          let widgetName = widgetTarget.getAttribute('data-widgetName');
          if (window.confirm("Deleting " + widgetName + " will remove the widget for all users. This action cannot be undone. Would you still like to permanently delete?")) {
              $.ajax({
                  type : 'POST',
                  url : "{{url_for('deleteWidget')}}",
                  data : JSON.stringify({"widget": {"widgetId": widgetId}}),
                  dataType: "json",
                  contentType: "application/json",
                  success: function (response) {
                      window.location.reload();
                  }
              });
          } else {
              return
          }
      }
      // toggles sidebars when the screen gets too small
      $(window).resize(function() {
          if (document.getElementById("overlay")) {
            let overlay = document.getElementById("overlay");

            var body = document.body,
                html = document.documentElement;

            var height = Math.max( body.scrollHeight, body.offsetHeight, 
                                  html.clientHeight, html.scrollHeight, html.offsetHeight );

            console.log(height + "px");

            overlay.style.height = height + "px";
          }

          if( $(this).width() < 900) {
              closeSidebars();
          }

          var redoWidth = $(window).width() - 80;
          redoWidth = redoWidth + "px";
          document.querySelector(".postPopup").style.width = redoWidth;
          document.querySelector(".postPopup").style.height = "100vh";

          document.getElementById("overlay").style.width = $(window).width() + 'px';
      });

      if($(window).width() < 900){
          closeSidebars();
      }

      // closes windows if they are open
      function closeSidebars() {
          if (!document.getElementById("wrapper").classList.contains("left-toggled")) {
              $("#wrapper").toggleClass("left-toggled");
          }

          if (!document.getElementById("wrapper").classList.contains("right-toggled")) {
              $("#wrapper").toggleClass("right-toggled");
          }
      }


      function submitPost() {
          let post = $("#postText").val();
          let url = "{{ url_for('createPost') }}";
          $.ajax({
              type: "POST",
              url: url,
              dataType: 'json',
              contentType: "application/json",
              data: JSON.stringify({"postData": {"post": post, "widgetId": widget_id}}),
              success: handlePostUpdateResponse,
          });
          closeUpdate();
      }

      // populate follow sidebar with available widgets
      function handleWidgetSearchResponse(response) {
          $('#widget-follow-list').html(response);
      }

      // call getSearchWidgets route for all available widgets to follow
      let request = null;
      function searchFollowWidgets() {
          let text = $("#searchWidgets").val();
          text = encodeURIComponent(text);
          let url = '/getSearchWidgets?text=' + text
          if (request != null)
              request.abort();
              request = $.ajax({
              type: "GET",
              url: url,
              success: handleWidgetSearchResponse
          });
      }
      // remove displayed errors/messages after 3 seconds
      setTimeout(function(){
          $('.displayed_errors').remove();
      }, 4000);
  </script>

</body>

</html>
