<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='tangelo_icon.png') }}">

    <title>Tangelo</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Gridstack CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gridstack@1.1.1/dist/gridstack.min.css">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <!-- Add IntroJs styles -->
    <link href="{{ url_for('static', filename='introjs.css') }}" rel="stylesheet">

    <!-- Our Custom Dashboard CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
    <!-- Our Custom Grid CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='grid.css') }}">

    <link rel="stylesheet" href="../static/updateButton.css"/>

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
</head>

<body>
  <div id="wrapper">

      <!-- Left Sidebar -->

      <div id="left-sidebar-wrapper">
        <div class="left-sidebar-nav">
          <div class="sidebar-header">
            <h3>Follow your favs</h3>
          </div>
          <p style="padding-left:20px; padding-top: 16px;">Search available widgets</p>
          <hr>

          <!-- Widget Search -->
          <div class="input-group" style="padding-left: 15px; padding-right: 15px;">
            <input class="form-control py-2 border-right-0 border" type="search" placeholder="search" value="" id="searchWidgets">
            <!-- <span class="input-group-append">
              <div class="input-group-text"><i class="fas fa-search"></i></div>
            </span> -->
          </div>

          <!-- Unfollow Widget Drag/Drop Here -->
          <div id="widget-follow-list"></div>
          <div id="trash" style="padding: 15px; margin-bottom: 15px; height: 100px;" class="text-center">
            <div>
              <ion-icon name="trash" style="font-size: 400%"></ion-icon>
            </div>
            <div>
              <span><b></b>Drop here to unfollow</b></span>
              <p style="padding: 10px 15px; font-size: 12px;"><i>Keep only those that spark joy – Marie Kondo</i></p>
            </div>
          </div>
          <br><br>
        </div>
      </div>
      <!-- /#left-sidebar-wrapper -->

      <!-- Right Sidebar -->
      <div id="right-sidebar-wrapper">
        <ul class="sidebar-nav">
          <div class="sidebar-header">
            <h3>{{ current_user.first_name }} {{ current_user.last_name }}</h3>
          </div>
          <li>
            <!-- Create Widget Form -->
            <a data-toggle="collapse" href="#create-widget" aria-expanded="false" onclick="rotateArrow('createArrow')">Create A Widget  <i class ="menu-arrow" id="createArrow"></i></a>
            <div class="collapse sub-bar" id="create-widget">
              {% include 'createWidget.html' %}
            </div>
          </li>
          <li>
            <!-- My Subscriptions -->
            <a data-toggle="collapse" href="#my-subscriptions" aria-expanded="false" onclick="rotateArrow('subscriptionsArrow')">My Subscriptions  <i class ="menu-arrow" id ="subscriptionsArrow"></i></a>
            <div class="collapse sub-bar" id="my-subscriptions">
              {% for widget in current_user.widgets %}
                <a href="#">{{ widget.name }}</a>
                  <!-- <span>{{ widget.name }}</span> <br> -->
              {% endfor %}
            </div>
          </li>
          <li>
            <!-- My Administered Widgets -->
            <a data-toggle="collapse" href="#admin-widgets" aria-expanded="false" onclick="rotateArrow('adminArrow')">Admin  <i class ="menu-arrow" id="adminArrow"></i></a>
            <div class="collapse sub-bar" id="admin-widgets">
              {% for widget in current_user.widgets_admin %}
              <a href="#">{{ widget.name }}</a>
              {% endfor %}
            </div>
          </li>
          <li>
            <a href="{{ url_for('logout') }}">Logout</a>
          </li>
        </ul>
      </div>
      <!-- /#right-sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
        <div class="postPopup">
          <div class="postPopupContent">
            <h2 style="margin-top: 5px; margin-bottom: 25px;"> New post</insert></h2>
            <textarea placeholder="Share it with the world" name="newPost" class="popupInputText" id="postText"></textarea>
            <a href="#" onClick="submitPost()" class="makePost">Make new post!</a>
            <img src="../static/close2.png" class="closePopup" onClick="closeUpdate()">
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">

              <!-- Navbar  -->
              <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
                <div class="container-fluid">

                  <!-- Navbar Collapse Button -->
                  <button class="btn d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!-- Follow Button Left Sidebar Collapse -->
                    <button class="btn btn-info" id="left-menu-toggle">
                      <span><i class="fas fa-chevron-left"></i> Widgets</span>
                    </button>

                    <!-- Tangelo Logo -->
                    <ul class="nav navbar-nav flex-fill justify-content-center">
                      <li class="nav-item"><a class="nav-link logo" href="{{ url_for('dashboard') }}">Tangelo</a></li>
                    </ul>

                    <!-- Admin @netid Right Sidebar Collapse -->
                    <button class="btn btn-info" id="right-menu-toggle">
                      <span>Settings <i class="fa fa-chevron-right"></i></span>
                    </button>

                  </div>
              </div>
            </nav>

            <!-- Flash Errors/Messages Below Navbar -->
            <div class="row">
              <div class="displayed_errors col-md-8">
                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    {% for category, message in messages %}
                      <div class="alert alert-{{ category }}">
                        {{ message }}
                      </div>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
              </div>
            </div>

            <!-- Dashboard Grid  -->
            {% include 'grid.html' %}
          </div>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Popper.JS -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <!-- Gridstack JS -->
  <script src="https://cdn.jsdelivr.net/npm/gridstack@1.1.1/dist/gridstack.all.js"></script>
  <!-- jQuery Custom Scroller CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

  <!-- IntroJs -->
   <script type="text/javascript" src="{{ url_for('static', filename='intro.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='tangelo_intro.js') }}"></script>

  <!-- Menu Toggle Script -->
  <script>
    $(document).ready(function () {
      $("#searchWidgets").on('input', searchFollowWidgets);
      $("#left-sidebar-wrapper").mCustomScrollbar({
        theme: "minimal",
      });
      // populate follow widget on load
      searchFollowWidgets();

      $(document).on('click', "#create_widget_submit", function(event) {

            let csrf_token = "{{ csrf_token }}";
            let url = "{{ url_for('createWidget') }}";
            event.preventDefault();
            $.ajax({
                type: "POST",
                url: url,
                dataType: 'json',
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token)
                    }
                },
                data: $('#create-widget-form').serialize(),
                success: function (response) {
                    window.location.reload();
                    window.location();
                },
                error: function (response) {
                    $('#create-widget').html(response.responseText);
                }
            });
        });
    });

    $("#left-menu-toggle").click(function(e) {
        e.preventDefault();
        searchFollowWidgets();
        $("#wrapper").toggleClass("left-toggled");
    });

    $("#right-menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("right-toggled");
    });

    // populate follow sidebar with available widgets
    function handlePostUpdateResponse(response)
    {
      location.reload();
    }

    // rotates right menu arrow
    function rotateArrow(arrowId)
    {
      let arrow = document.getElementById(arrowId)
      var st = window.getComputedStyle(arrow, null);
      var rotation = st.getPropertyValue("transform")

      if(rotation[17] == "-")
      {
        arrow.style.transform = "rotate(45deg)";
        arrow.style.top = "-2px";
        arrow.style.left = "2px";
        arrow.style.position = "relative";
      }
      else
      {
        arrow.style.transform = "rotate(-45deg)";
        arrow.style.left = "0px";
        arrow.style.top = "0px";
      }
    }

    // Submit Post
    let widget_name = '';
    function updateButton(widget_target) {
    document.querySelector(".postPopup").style.display = "flex";
    document.querySelector(".postPopup").style.opacity = "100%";
    document.querySelector(".postPopup").style.zIndex = 1004;

    document.getElementsByClassName("navbar")[0].style.zIndex = 1002;

    var w = $(window).width();
    var h = $(window).height();
    var $overlay = $('<div/>', {
      'id': 'overlay',
      css: {
        position   : 'absolute',
        height     : h + 'px',
        width      : w + 'px',
        left       : 0,
        top        : 0,
        background : '#000',
        opacity    : 0.3,
        zIndex     : 1003
     }
   }).appendTo('body');
   widget_name = widget_target.parentNode.parentNode.getAttribute("widget-id")

  // Click overlay to remove
  }
  function closeUpdate() {
    document.querySelector(".postPopup").style.display = "none";
    document.querySelector(".postPopup").style.opacity = "0";
    document.getElementById("overlay").remove();
    document.getElementsByClassName("navbar")[0].style.zIndex = 1020;
    document.getElementById("postText").value = ""
  }


  function submitPost() {
    let request = null;

    let post = $("#postText").val();
    post = encodeURIComponent(post);
    let url = '/postUpdate?post=' + post + '&id=' + widget_name;
    if (request != null)
        request.abort();
      request = $.ajax({
        type: "GET",
        url: url,
        success: handlePostUpdateResponse
      });
      closeUpdate();
  }

      // populate follow sidebar with available widgets
    function handleWidgetSearchResponse(response) {
      $('#widget-follow-list').html(response);
    }

    // call getSearchWidgets route for all available widgets to follow
    let request = null;
    function searchFollowWidgets()
    {
      let text = $("#searchWidgets").val();
      text = encodeURIComponent(text);
      let url = '/getSearchWidgets?text=' + text
      if (request != null)
        request.abort();
        request = $.ajax({
        type: "GET",
        url: url,
        success: handleWidgetSearchResponse
      });
    }
    // remove displayed errors/messages after 3 seconds
    setTimeout(function(){
      $('.displayed_errors').remove();
    }, 3000);
  </script>

</body>

</html>
