<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Tangelo</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Gridstack CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gridstack@1.1.1/dist/gridstack.min.css" />
    <!-- Our Custom Gridstack CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='grid.css') }}"/>
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

</head>

<body>

    <div class="wrapper">
        <!-- Page Content  -->
        <div id="content">
            <!-- Navigation  -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <!-- <i class="fas fa-align-left"></i> -->
                        <span>Follow</span>
                    </button>

                    <button class="btn d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav flex-fill justify-content-center">
                            <li class="nav-item">
                                <a class="nav-link logo" href="#">Tangelo</a
                            ></li>
                        </ul>
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('account') }}">Account</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('about') }}">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Dashboard  -->
            {% include 'grid.html' %}
        </div>

        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Follow your favorites!</h3>
            </div>

            <ul class="list-unstyled components">
                <p>Search available widgets</p>
            </ul>
            <div><a class="btn btn-outline-info" onClick="addNewWidget()" href="#">&nbsp;&nbsp;&nbsp;&nbsp;Add Clock&nbsp;&nbsp;&nbsp;</a></div><br>
            <div><a class="btn btn-outline-info" onClick="saveData()" href="#">Save Widgets</a></div><br>
            <div><a class="btn btn-outline-info" onClick="removeWidget()" href="#">Remove Widgets</a></div><br>
            <h2> Widgets Available </h2>
            <div id="widgetsidebar" class="sibar">
                <a href="#" class="closeBtn" onclick="closeSearch()">&times;</a>
                <form class="searchBar">
                <br>
                <input type="text" placeholder="Search for a widget!" name="search">
                <input type="submit" value="Search"></form>
                <br>
                <hr>
                {% for wid in widgetsAvailable: %}
                    <button id= {{wid[1]}}><div id={{wid[1]}}><a class="btn btn-outline-info" href="#">&nbsp;&nbsp;&nbsp;&nbsp;{{wid[1]}}&nbsp;&nbsp;&nbsp;</a></div></button>
                {% endfor %}
            </div>
        </nav>
    </div>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- Gridstack JS -->
    <script src="https://cdn.jsdelivr.net/npm/gridstack@1.1.1/dist/gridstack.all.js"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <script type="text/javascript">
        $("button").click(function () {
            var id1 = 'sidebarCollapse';
            if (this.id != id1) {
                addPreset(this.id);
            }
                
        });
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal",
            });
            $("#sidebarCollapse").trigger('click');
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            // $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    </script>
</body>

</html>
