<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href="../static/layout3.css">
    </head>

    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <body>
        <div id = "wrapper">
            <div class = "centerPanel">
                <h3>Generic Dance Group</h3>
                <hr>
                <div class = "post">
                    <a class = "poster">@johndoe</a> THIS THURSDAY, FRIDAY, AND SATURDAY COME SEE MY DANCE SHOW!!! I'm only in it for 1 piece but I will definitely evaluate our friendship on it :)
                </div>
            </div>
        </div>
    </body>
</html>