<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href="../static/genericWidget.css">
    </head>

    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <body>
        <div class = "centerPanel">
            <h3 class = "genericTitle">Generic Dance Group</h3>
            <hr class = "genericDivider">
            <div class = "GenericPost">
                <a class = "GenericPoster">@johndoe</a> THIS THURSDAY, FRIDAY, AND SATURDAY COME SEE MY DANCE SHOW!!! I'm only in it for 1 piece but I will definitely evaluate our friendship on it :)
            </div>
        </div>
    </body>
</html>