<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gridstack@1.1.1/dist/gridstack.min.css" />
<link rel="stylesheet" href="../static/genericWidget.css"/>
<link rel="stylesheet" href="../static/grid.css"/>

<!-- Icons -->
<script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule="" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js"></script>


<script src="https://cdn.jsdelivr.net/npm/gridstack@1.1.1/dist/gridstack.all.js"></script>
<div id="mainGridContainer" style="transition: border .3s ease-in-out; border: thick dashed #fafafa">
  <div class="grid-stack" ></div>
</div>

<script type="text/javascript">
  var grid = GridStack.init({
    removable: '#trash',
    removeTimeout: 100
  });
  // don't perform any dashboard widget updates until all widgets are loaded
  let dashboardPopulated = false;

  // load dashboard
  window.onload = function() {

    let displayedWidgets = JSON.parse('{{ displayedWidgets | tojson | safe}}');
    grid.removeAll()
    grid = GridStack.init();
    for (var i = 0; i < displayedWidgets.length; ++i) {

      let node =  {
          x: displayedWidgets[i].grid_location.x,
          y: displayedWidgets[i].grid_location.y,
          width: displayedWidgets[i].grid_location.width,
          height: displayedWidgets[i].grid_location.height,
          widget_name: displayedWidgets[i].widget_name,
          widget_post: displayedWidgets[i].widget_post,
          id: displayedWidgets[i].widget_id,
          widget_style: displayedWidgets[i].widget_style,
          admin: displayedWidgets[i].widget_admin
      };
      if (!node.widget_style || node.widget_style.trim().length === 0) {
        // generic widget with empty post
        if (!node.widget_post.content || node.widget_post.content.trim().length === 0) {
          let widgAdd = 
          grid.addWidget(`<div class="grid-stack-item" widget-id="${node.id}">
                            <div class="grid-stack-item-content">
                              <a href="#" onClick ="updateButton()" class="updateButton">	&#9998;</a>
                              <div class = "centerPanelWidget">
                                <h3 class = "genericTitle">${node.widget_name}</h3>
                                <hr class = "genericDivider">
                              </div>
                            </div>
                          </div>`, node);
        } else {
          // generic widget with non-empty post
          grid.addWidget(`<div class="grid-stack-item" widget-id="${node.id}">
                            <div class="grid-stack-item-content">
                              <a href="#" onClick ="updateButton()" class="updateButton">	&#9998;</a>
                              <div class = "centerPanelWidget">
                                <h3 class = "genericTitle">${node.widget_name}</h3>
                                <hr class = "genericDivider">
                                <div class = "GenericPost">
                                    <a class = "GenericPoster">
                                      @${node.widget_post.author}</a>
                                    ${node.widget_post.content}
                                </div>
                              </div>
                            </div>
                          </div>`, node);
        }
      } else {
        // our unique non-generic widgets
        grid.addWidget(`<div class="grid-stack-item" widget-id="${node.id}">
                          <div class="grid-stack-item-content">
                            ${node.widget_style}
                          </div>
                        </div>`, node);
      }
    }

    // bring all widgets to front, so each appears above sidebar and navbar when dragged
    for (const element of document.querySelectorAll(".grid-stack-item")) {
      element.style.zIndex = 1001;
    }
    dashboardPopulated = true;
  }

  // subscribe to this widget by widget_id, and display on dashboard
  followWidget = function (follow_widget_id) {
    let new_subscription = {
      widget_id: follow_widget_id,
      grid_location: {
        x: 0,
        y: 0,
        width: 6,
        height: 2,
      }
    };
    $.ajax({
      type : 'POST',
      url : "{{url_for('addSubscription')}}",
      data : JSON.stringify({"subscription": new_subscription}),
      dataType: "json",
      contentType: "application/json",
      success: function (response) {
        window.location.reload();
           window.location();
         },
    });
  };

  // update widget grid_location for each widget that has been removed, added, changed
  function updateGrid(e, items) {
    if (dashboardPopulated) {
      let widgets = []
      items.forEach(function(item) {
        widgets.push({
          widget_id: item.id * 1,
          grid_location: {
            x: item.x * 1,
            y: item.y * 1,
            width: item.width * 1,
            height: item.height * 1}
        });
      });
      $.ajax({
        type : 'POST',
        url : 'update/' + e.type,
        data : JSON.stringify({"widgets": widgets}),
        dataType: "json",
        contentType: "application/json",
        success: function (response) {
          searchFollowWidgets();
        },
      });
    }
  };


  function dragstart(event) {
    jQuery.event.props.push('dataTransfer');
    event.dataTransfer.setData('text/html', null); //cannot be empty string
    var grid = document.getElementById("mainGridContainer");
    grid.style.border = "thick dashed orange";
  }

  function allowDrop(event) {
  event.preventDefault();
  console.log("closer");
  }
  function dragend(event) {
    event.preventDefault();  
    console.log("hi");
    var grid = document.getElementById("mainGridContainer");
    grid.style.border = "none";
  }


  function updateButton() {
  document.querySelector(".postPopup").style.display = "flex";
  document.querySelector(".postPopup").style.opacity = "100%";
  document.querySelector(".postPopup").style.zIndex = 1004;
  }
  function closeUpdate() {
    document.querySelector(".postPopup").style.display = "none";
    document.querySelector(".postPopup").style.opacity = "0";
  }
  function submitPost() {
    closeUpdate();
  }

  grid.on('dragstart', function(event, ui) {
    var grid = document.getElementById("mainGridContainer");
    grid.style.border = "thick dashed orange";
  });

  grid.on('dragstop', function(event, ui) {
    var grid = document.getElementById("mainGridContainer");
    grid.style.border = "thick dashed #fafafa";
  });

  grid.on('resizestart', function(event, ui) {
    var grid = document.getElementById("mainGridContainer");
    grid.style.border = "thick dashed orange";
  });

  grid.on('gsresizestop', function(event, element) {
    var grid = document.getElementById("mainGridContainer");
    grid.style.border = "thick dashed #fafafa";
});

  grid.on('added removed change', updateGrid);
</script>
