<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drag and Drop
    </title>
    <link rel="stylesheet" href="../static/grid.css" />
</head>
<body>
    <div class="app">
        <header>
            <h1> Widget Grid</h1>
        </header>
        <div class="grid">
            <div class="row">
                <div class="box" draggable="true">Widget 1</div>
                <div class="box" draggable="true">Widget 2</div>
                <div class="box" draggable="true">Widget 3</div>
            </div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
        </div>
        <div class="grid">
            <div class="row">
            </div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
        </div>
        <div class="grid">
            <div class="row">
            </div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
        </div>
        <div class="grid">
            <div class="row">
            </div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
        </div>
        <div class="grid">
            <div class="row">
            </div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
        </div>
    </div>
    <script src="../static/grid.js"></script>
</body>
</html>
