<!DOCTYPE html>
 <html>
   <head>
      <title>Tangelo</title>
   </head>
   <body>
      {% include 'header.html' %}
      <br>
      Dashboard here!
      <br>
      <h2>{{ current_user.first_name }} {{ current_user.last_name }}, {{ current_user.email }}</h2>
      {% for widget_id, position in current_user.displayed_widgets.items() %}
       <p>Widget_id={{ widget_id }} : Position={{ position }}</p>
      {% endfor %}
      Administrator of these Widgets:
      {% for admin_w in current_user.admin_widgets %}
       <p>{{ admin_w }}</p>
      {% endfor %}
      <br>
   </body>
 </html>
