<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="sidebar.css"/>
<title> Grid </title>
</head>
<body>

<div id="widgetsidebar" class="sibar">
    <a href="#" class="closeBtn" onclick="closeSearch()">&times;</a>
    <form class="searchBar">
    <input type="text" placeholder="Search for a widget!" name="search">
    <input type="submit" value="Search"></form>

    <h2>Grid of searched items goes here</h2>

</div>

<div id="main" class="main">
  <button class="searchBtn" onclick="openSearch()">Add a new Widget!</button>
  <h2> Placeholder </h2>
</div>

<script type="text/javascript">
  /* Take bar out by widening and changing margin */
function openSearch() {
  document.getElementById("widgetsidebar").style.width = "400px";
  document.getElementById("main").style.marginLeft = "400px";
}

/* return */
function closeSearch() {
  document.getElementById("widgetsidebar").style.width = "0px";
  document.getElementById("main").style.marginLeft = "0";
}

</script>
</body>
</html>