<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="../static/tangelohome.css">
</head>

<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

<body class = "container">
    <div id = "centerPanel">
        <h1>Tangelo</h1>
        <h2>Start your day.</h2>
        <div id = "homeOptions">
            <a href="login"><button id = "loginContainer">
                <h3>Login!</h2>
            </button></a>
            <a href="login"><button id = "signupContainer">
                <h3>Sign Up!</h2>
            </button></a>
        </div>
    </div>
</body>

</html>
