<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="../static/tangelohome.css">
</head>

<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

<body class = "container">

    <div id = "centerPanel">
        <h1>Tangelo</h1>
        <h2>Start your day.</h2>
        <div id = "homeOptions">
            <button id = "loginContainer">
                <a href="login">Login!</a>
            </button>
            <button id = "signupContainer">
                <a href="login">Sign Up!</a>
            </button>
        </div>
    </div>
</body>

</html>
