h1 {
    font-size: 25pt;
    line-height: 10px;
    font-weight: 100;
    padding-top: 25px;
    color: rgb(238, 174, 36);
}

h2 {
    font-size: 15pt;
    line-height: 0px;
    color: rgb(238, 174, 36);
    font-weight: 500;
}

#centerPanelClock {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
}
