h1 {
    font-size: 30pt;
    line-height: 10px;
    font-weight: 100;
    color: rgb(238, 174, 36);
}

h2 {
    font-size: 20pt;
    line-height: 0px;
    color: rgb(238, 174, 36);
    font-weight: 500;
}

#centerPanel {
    text-align: center;
}
