/* sidebar styling forked from weihien90/bootstrap-double-sidebar */

@import "https://fonts.googleapis.com/css?family=Lato";

body {
    background: #fafafa;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.navbar a.logo {
    font-family: 'Lato';
    font-size: 20pt;
    line-height: 10px;
    font-weight: 400;
    color: #fff;
    text-align: center !important;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.left-toggled {
    padding-left: 300px;
}

#wrapper.right-toggled {
    padding-right: 300px;
}

#left-sidebar-wrapper {
    left: 300px;
    width: 0;
    height: 100vh;
    margin-left: -300px;
    background: #fafafa;
    /* background: rgb(238, 189, 82); */
    border-right: thin solid #ccc;
    color: gray;
    position: fixed;
    z-index: 1000;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#right-sidebar-wrapper {
    right: 300px;
    width: 0;
    height: 100vh;
    margin-right: -300px;
    background: #fafafa;
    /* background: rgb(238, 189, 82); */
    border-left: thin solid #ccc;
    color: gray;
    position: fixed;
    z-index: 1000;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.left-toggled #left-sidebar-wrapper {
    width: 300px;
}

#wrapper.right-toggled #right-sidebar-wrapper {
    width: 300px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.left-toggled #page-content-wrapper {
    position: absolute;
    margin-right: -300px;
}

#wrapper.right-toggled #page-content-wrapper {
    position: absolute;
}

/* Sidebar Styles */

.sidebar p {
  color: #fff;
  padding-left: 20px;
}

.sidebar hr {
  color: #fff;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-width: 1px;
}

.sidebar-header {
  padding: 20px;
  background: #FF8F00;
  color: white;
  /* background: rgb(238, 174, 36); */
  /* height: 65px; */
  /* font-size: 18px; */
  /* line-height: 60px; */
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 300px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
    transition: all 0.3s;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    background-color: #dddddd;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.form-control-label {
    text-indent: -17px;
    margin-bottom: 0px;
}

/* Sub-bar styles */

li > .sub-bar {
    padding-left: 18px;
    padding-right: 18px;
    font-size: 1em;
}

.sub-bar > .sub-bar {
    padding-left: 10px;
    font-size: 0.95em;
}

#submit {
    margin-left: -18px;
}

/* Toggle Buttons */
#left-menu-toggle {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1001;
    background: #FF8F00;
    border-color: #fff;
    display: flex;
    align-items: center;
    margin: 10px;
}

#right-menu-toggle {
    position: absolute;
    right:0;
    bottom: 0;
    z-index: 1001;
    background: #FF8F00;
    border-color: #fff;
    display: flex;
    align-items: center;
    margin: 10px;
}

#widget-follow-list {
    max-height: 300px;
}

.i-icon-1:hover {

}

@media(min-width:768px) {
    #wrapper {
        padding-left: 300px;
        padding-right: 300px;
    }

    #wrapper.left-toggled {
        padding-left: 0;
    }

    #wrapper.right-toggled {
        padding-right: 0;
    }

    #left-sidebar-wrapper {
        width: 300px;
        box-shadow: 0px 1px 2px 2px #ccc;
        overflow-x: hidden;
    }

    #right-sidebar-wrapper {
        width: 300px;
        box-shadow: 0px 1px 2px 2px #ccc;
        overflow-x: hidden;
    }

    #wrapper.left-toggled #left-sidebar-wrapper {
        width: 0;
    }

    #wrapper.right-toggled #right-sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 40px;
        min-height: 100vh;
        transition: all 0.3s;
        position: relative;
    }

    #wrapper.left-toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }

    #wrapper.right-toggled #page-content-wrapper {
        position: relative;
        margin-left: 0;
    }
}
