#centerPanelDate {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
}

#centerPanelDate h1 {
    font-size: 25pt;
    line-height: 10px;
    font-weight: 100;
    padding-top: 25px;
    color: rgb(238, 174, 36);
}
