.grid-stack {
  background: #fafafa;
}

#mainGridContainer {
  padding: 10px;
}

.grid-stack-item-content {
  color: #2c3e50;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px #eee;
}
