.sibar {
    height: 100%; 
    width: 0; 
    position: fixed;
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: orangered; 
    overflow-x: hidden; 
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }

.main {
    transition: margin-left 0.5s;
}

  .sibar .closeBtn {
    color: black;
    position: absolute;
    padding: 10px;
    top: 10px;
    right: 25px;
    font-size: 50px;
    margin-left: 50px;
  }

  .sibar .searchBar {
      top: 10px;
      right: 10px;
      padding: 20px;
  }


  .searchBtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }