body {
    margin: 0px;
    font-family: 'Lato', sans-serif;

    background:url(tangelo-home-1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #ff8f00;
}


#centerPanel {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 30%;
    min-width: 500px;
    height: 30%;
    padding-bottom: 5%;
    text-align: center;
}

h1 {
    font-size: 80pt;
    line-height: 10px;
    font-weight: 900;
    color: white;
}

h2 {
    font-size: 30pt;
    line-height: 0px;
    color: white;
}

button {
    width: 150px;
    margin: 30px;
    margin-top: 5px;
    font-size: 14px;
}

#loginContainer {
    color: white;
    background-color: #ff8f00;
    border-color: #ff8f00;
    -webkit-transition: .5s ease-in-out; /* Safari */
    transition: .5s ease-in-out;
}

#loginContainer:hover {
    color: #E5E5E5;
    background-color: #E58919;
    border-color: #E58919;
    -webkit-transition: .5s ease-in-out; /* Safari */
    transition: .5s ease-in-out;
    cursor: pointer;
}

#signupContainer {
    color: #ff8f00;
    background-color: white;
    border-color: #ff8f00;
    border-width: 4px;
    -webkit-transition: .5s ease-in-out; /* Safari */
    transition: .5s ease-in-out;
}

#signupContainer:hover {
    color: #E58919;
    background-color: #E5E5E5;
    border-color: #E58919;   
    -webkit-transition: .5s ease-in-out; /* Safari */
    transition: .5s ease-in-out;
    cursor: pointer;
}